@model RequestedServiceDto

@section Styles{ 
<style>
    .from_to{
        
    }
</style>
}
<form class="row profile_form" method="post" asp-action="Index" role="form" novalidate="novalidate">
    @if (ViewBag.serviceId == 1)
    {

        <div class="col-12">
            <div class="form-row">
                <div class="form-group col-md-6 d-flex justify-content-center">
                    <div class="mr-4 d-flex align-items-center from_to">
                        <label asp-for="fromCity" class="fromCity">
                            مـــن
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-1 input-group-prepend mr-3">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-map-marker-alt text-info"></i>
                            </div>
                        </div>
                        <select class="form-control col-8" name="fromCity" asp-for="fromCity" id="fromCity" style="border-radius: 0;">
                            <option value="@null">اختر مدينة</option>
                            @foreach (var city in Model.Ksacities)
                            {
                                <option class="fromCity" value="@city.Id">
                                    @city.Name
                                </option>
                            }
                        </select>
                        <span asp-validation-for="fromCity" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-md-6 d-flex justify-content-center">
                    <div class="mr-4 d-flex align-items-center from_to">
                        <label asp-for="toCity" class="toCity mr-4">
                            إلـــى
                        </label>

                        <div class="row">
                            <div class="col-1 input-group-prepend mr-3">
                                <div class="input-group-text bg-white">
                                    <i class="fas fa-map-marker-alt text-info"></i>
                                </div>
                            </div>

                            <select class="form-control col-8" asp-for="toCity" name="toCity" id="toCity" style="border-radius: 0;">
                                <option value="@null">اختر مدينة</option>
                                @foreach (var city in Model.Ksacities)
                                {
                                    <option class="fromCity" value="@city.Id">
                                        @city.Name
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="toCity" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-12">
                <div class="form-group col-md-6 d-flex justify-content-center">
                    <div class="mr-4 d-flex align-items-center from_to">
                        <label asp-for="fromCity" class="fromCity">
                            اختـــر مكان الخدمة
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-1 input-group-prepend mr-3">
                            <div class="input-group-text bg-white">
                                <i class="fas fa-map-marker-alt text-info"></i>
                            </div>
                        </div>
                        <select class="form-control col-8" name="fromCity" asp-for="fromCity" id="fromCity" style="border-radius: 0;">
                            <option value="@null">اختر مكان</option>
                            @foreach (var city in Model.Ksacities)
                            {
                                <option class="fromCity" value="@city.Id">
                                    @city.Name
                                </option>
                            }
                        </select>
                        <span asp-validation-for="fromCity" class="text-danger"></span>
                    </div>
                </div>
            </div>
    }
    <div class="col-12">
        <div class="form-group">
            <label asp-for="Name">الاسم بالكامل</label>
            <input type="text" class="form-control userinfo" asp-for="Name" id="Name" placeholder="الاسم بالكامل" />
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label asp-for="Email">البريد الالكترونى</label>

            <input type="email" class="form-control userinfo" id="EMail" asp-for="Email" placeholder="البريد الالكترونى" />
            <span asp-validation-for="Email" class="text-danger"></span>

        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label asp-for="Phone">رقم الهاتف</label>
            <input type="text" class="form-control userinfo" id="Phone" asp-for="Phone" placeholder="رقم الهاتف" />
            <span asp-validation-for="Phone" class="text-danger"></span>

        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label asp-for="Address">العنوان</label>
            <input type="text" class="form-control userinfo" asp-for="Address" id="Address" placeholder="العنوان" />
            <span asp-validation-for="Address" class="text-danger"></span>

        </div>
    </div>
    <div class=" col-12 justify-content-center modal-footer">
        <div class="col-6 text-right d-flex justify-content-center">
            <button type="submit" value="submit" class="btn_3">
                تأكيد
            </button>
        </div>
        <div class="col-6 text-right d-flex justify-content-center">
            <button type="button" class="btn_3" data-dismiss="modal">إغلاق</button>
        </div>
    </div>

</form>
