@model HomeDto
@{
    ViewData["Title"] = "الرئيسية";
//fskdfklsdjflskdjfsl
}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top:90px">
    <div class="carousel-inner">
        @foreach (var announce in Model.Announcements)
        {

            <div class="carousel-item @announce.Active ">
                <img class="d-block w-100" src="@announce.AnnouncePhotoPath" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <a href="#">
                        <h2>@announce.AnnounceHeader</h2>
                        <p>@announce.AnnounceContent</p>
                    </a>
                </div>
            </div>


        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<!--   start of products show   -->
<section class="products_galary container">
    <div class="row">
        <h2 class="col-12"> هنا يتم الأعلان عن بعض <span> المنتجات </span>و الأسعار</h2>
        <div class="underlineDiv"></div>
    </div>
    <div class="row">
        <div class="row align-items-center latest_product_inner">
            @foreach (var service in Model.Services)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="single_product_item">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="@service.ServicePhotoPath" alt="service" style="width:300px;height:300px;">
                                </div>
                                <div class="flip-card-back">
                                    <h1>@service.ServiceName</h1>
                                    <hr style="margin: 0 30px">
                                    <p>@service.ServiceSubHeader</p>
                                    <p>
                                        @service.ServiceDescription
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</section>
<hr class="container" style="margin : 50px ; background-color:#71e2e2">



<!--    start of slider of products      -->
<section class="product_list best_seller">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>بعض آراء <span class="clientOpinion"> العملاء </span></h2>
                    <div class="underlineDiv"></div>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-12">
                <div class="best_product_slider owl-carousel">
                    @foreach (var comment in Model.UserComments)
                    {
                        <div class="single_product_item text-center">
                            <img src="~/img/client.png" alt="">
                            <div class="single_product_text">
                                <h4>@comment.UserFullName</h4>
                                <h3>
                                    @comment.CommentText
                                </h3>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</section>

