@model HomeDto
@{
    ViewData["Title"] = "الرئيسية";
}
@section Styles{ 
<style>
    .my_img_carousel {
        height: 600px;
    }
</style>
}

<div style="margin-top:90px">

    @if (Model.Announcements.Any())
    {
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @{ int i = 0;}
                @foreach (var announce in Model.Announcements)
                {
                    i++;
                    var active = i == 1 ? "active" : "";
                    <div class="carousel-item @active">
                        <img class="d-block w-100 my_img_carousel" src="@announce.AnnouncePhotoPath" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <a href="#">
                                <h2>@announce.AnnounceHeader</h2>
                                <p>@announce.AnnounceContent</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    }

    <!--   start of products show   -->
    <section class="products_galary container">
        <div class="row">
            <h2 class="col-12"> هنا يتم الأعلان عن بعض <span> المنتجات </span>و الأسعار</h2>
            <div class="underlineDiv"></div>
        </div>
        <div class="row">
            <div class="row align-items-center latest_product_inner">
                <div class="col-lg-6 col-md-6">
                    <div class="single_product_item">
                        <a href="Commnet/index/1">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="~/img/service1.jpg" alt="service" style="width:600px;height:300px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>نقل عفش</h1>
                                        <hr style="margin: 0 30px">
                                        <p>نقل عفش </p>
                                        <p>
                                            قال الشيخ محمد حشاد نقيب قراء القرآن الكريم، إن هناك عدد من المواقع قامت بالتوصل معه للسؤال هل يجوز لبهاء سلطان الانضمام إلى النقابة؟ فكان الجواب هو إذا كان تتوفر فية شروط الالتحاق بالنقابة وهى حفظ القرآن الكريم وحسن السير والسمعة والسلوك  فلا مانع مطلقا من أنضمامه للنقابة.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_product_item">
                        <a href="Commnet/index/2">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="~/img/service1.jpg" alt="service" style="width:600px;height:300px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>فك و تركيب</h1>
                                        <hr style="margin: 0 30px">
                                        <p>فك و تركيب</p>
                                        <p>
                                            قال الشيخ محمد حشاد نقيب قراء القرآن الكريم، إن هناك عدد من المواقع قامت بالتوصل معه للسؤال هل يجوز لبهاء سلطان الانضمام إلى النقابة؟ فكان الجواب هو إذا كان تتوفر فية شروط الالتحاق بالنقابة وهى حفظ القرآن الكريم وحسن السير والسمعة والسلوك  فلا مانع مطلقا من أنضمامه للنقابة.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_product_item">
                        <a href="Commnet/index/3">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="~/img/service1.jpg" alt="service" style="width:600px;height:300px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>تغليف</h1>
                                        <hr style="margin: 0 30px">
                                        <p>تغليف </p>
                                        <p>
                                            قال الشيخ محمد حشاد نقيب قراء القرآن الكريم، إن هناك عدد من المواقع قامت بالتوصل معه للسؤال هل يجوز لبهاء سلطان الانضمام إلى النقابة؟ فكان الجواب هو إذا كان تتوفر فية شروط الالتحاق بالنقابة وهى حفظ القرآن الكريم وحسن السير والسمعة والسلوك  فلا مانع مطلقا من أنضمامه للنقابة.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_product_item">
                        <a href="Commnet/index/4">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                    <div class="flip-card-front">
                                        <img src="~/img/service1.jpg" alt="service" style="width:600px;height:300px;">
                                    </div>
                                    <div class="flip-card-back">
                                        <h1>تخزين</h1>
                                        <hr style="margin: 0 30px">
                                        <p>تخزين</p>
                                        <p>
                                            قال الشيخ محمد حشاد نقيب قراء القرآن الكريم، إن هناك عدد من المواقع قامت بالتوصل معه للسؤال هل يجوز لبهاء سلطان الانضمام إلى النقابة؟ فكان الجواب هو إذا كان تتوفر فية شروط الالتحاق بالنقابة وهى حفظ القرآن الكريم وحسن السير والسمعة والسلوك  فلا مانع مطلقا من أنضمامه للنقابة.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <hr class="container" style="margin : 50px ; background-color:#71e2e2">



    <!--    start of slider of products      -->
    <section class="product_list best_seller">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>بعض آراء <span class="clientOpinion"> العملاء </span></h2>
                        <div class="underlineDiv"></div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        @foreach (var comment in Model.UserComments)
                        {
                            <div class="single_product_item text-center">
                                <img src="~/img/client.png" alt="">
                                <div class="single_product_text">
                                    <h4>@comment.UserFullName</h4>
                                    <h3>
                                        @comment.CommentText
                                    </h3>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
